### Eclipse ###
.project
.classpath
.settings/
bin/
tmp/

### IntelliJ IDEA (if some teammates use it) ###
.idea/
*.iml
*.iws
out/

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

### Logs ###
*.log

### Spring Boot ###
# Local config
application-*.yml
application-*.yaml
application-*.properties

### OS ###
.DS_Store
Thumbs.db

### Java ###
*.class
*.jar
*.war
*.ear

### Others ###
/hs_err_pid*
/replay_pid*
